<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <center>
                <ul class="footer-center">
                    <li><a href="mailto:international@customerservice.sears.com" data-trk="Y" rev="om">Email Us</a></li>
                    <li><a href="//sales.liveperson.net/hc/37457093/?cmd=file&amp;file=visitorWantsToChat&amp;site=37457093&amp;LEAppKey=f907f2d9acd64b7f8c00b83bed3c2822&amp;SV!chat-button-name=sears-chat-cshome-service-english&amp;SV!chat-button-room=sears-chat-cshome-service-english&amp;referrer=%28button%20dynamic-button:sears-chat-cshome-service-english%28Sears%20Customer%20Service%20-%20Account%20Information%2C%20Questions%20%26%20Feedback%29%29%20http%3A//www.sears.com/shc/s/nb_10153_12605_NB_CSHome&amp;SESSIONVAR!skill=sears-general-chat-service-english" data-trk="Y" rev="om">Click to Chat</a></li>
                    <li class="feedback"><a href="#" data-trk="Y" rev="om">Give Us Feedback</a></li>
                    <li><a href="http://www.sears.com/international-order-tracking/dap-100000000476502?adCell=WF" data-trk="Y" rev="om">Order Status</a></li>
                    <li><a href="/csinternationalshipping/nb-100000000367002" data-trk="Y" rev="om">Shipping &amp; Delivery</a></li>
                    <li><a href="/csinternationalshipping/nb-100000000367002" data-trk="Y" rev="om">Returns &amp; Exchanges</a></li>
                    <li><a href="/csinternationalshipping/nb-100000000367002" data-trk="Y" rev="om">International Shipping</a></li>
                    <li><a href="/international-vendors/dap-100000000428505" data-trk="Y" rev="om">International Distributors</a></li>
                </ul>
            </center>
        </div>

        <div class="row">
            <center>
                <ul class="shopping-brand">
                    <li>
                        <a href="http://www.sportsauthority.com/" target="_blank">
                            <img src="/images/sportsauthority.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.sears.com/" target="_blank">
                            <img src="/images/sears.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.target.com/" target="_blank">
                            <img src="/images/target.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.nordstromrack.com/" target="_blank">
                            <img src="/images/nordstorm.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.walmart.com/" target="_blank">
                            <img src="/images/walmart.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.costco.com/" target="_blank">
                            <img src="/images/costco.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.amazon.com/" target="_blank">
                            <img src="/images/amazon.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.dell.com/" target="_blank">
                            <img src="/images/dell.png" style="height: 40px;">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.samsclub.com/" target="_blank">
                            <img src="/images/sams.png" style="height: 40px;">
                        </a>
                    </li>
                </ul>
            </center>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <center>2015 © OneStopShopIn. ALL Rights Reserved.</center>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <!-- END PAYMENTS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->